@import "tailwindcss";

@layer base {
    :root {
        --primary: #121A8F;
        --alt-primary: #949BF7;
        --secondary: #29e373;
        --accent: #949BF7;
        --background: #ecedfe;

        --radius: 0.625rem;
        --foreground: rgb(9, 9, 11);
        --card: rgb(255, 255, 255);
        --card-foreground: rgb(9, 9, 11);
        --popover: rgb(255, 255, 255);
        --popover-foreground: rgb(9, 9, 11);
        --primary-foreground: rgb(250, 250, 250);
        --secondary-foreground: rgb(24, 24, 27);
        --muted: rgb(244, 244, 245);
        --muted-foreground: rgb(113, 113, 123);
        --accent-foreground: rgb(24, 24, 27);
        --destructive: rgb(231, 0, 11);
        --border: rgb(228, 228, 231);
        --input: rgb(228, 228, 231);
        --ring: rgb(159, 159, 169);

        --font: "Chivo", sans-serif;
    }

    * {
        border-color: hsl(var(--border));
    }

    body {
        background-color: var(--background);
        color: hsl(var(--foreground));
        font-feature-settings: "rlig" 1, "calt" 1;
        font-family: var(--font), sans-serif;
    }
}

@layer utilities {
    .bg-primary {
        background-color: var(--primary);
    }

    .bg-alt-primary {
        background-color: var(--alt-primary);
    }

    .bg-secondary {
        background-color: var(--secondary);
    }

    .bg-accent {
        background-color: var(--accent);
    }

    .bg-background {
        background-color: var(--background);
    }

    .text-primary {
        color: var(--primary);
    }

    .text-alt-primary {
        color: var(--alt-primary);
    }

    .text-secondary {
        color: var(--secondary);
    }

    .text-accent {
        color: var(--accent);
    }

    .border-primary {
        border-color: var(--primary);
    }

    .hover\:bg-primary:hover {
        background-color: var(--primary);
    }

    .hover\:bg-alt-primary:hover {
        background-color: var(--alt-primary);
    }

    .hover\:text-primary:hover {
        color: var(--primary);
    }

    .hover\:text-alt-primary:hover {
        color: var(--alt-primary);
    }

    .toggle-selected {
        background-color: var(--primary) !important;
        color: white !important;
        border-color: var(--primary) !important;
    }

    .toggle-unselected {
        background-color: white;
        color: var(--primary);
        border-color: var(--border);
    }

    .toggle-hover {
        border-color: var(--primary);
        background-color: rgba(54, 70, 200, 0.1);
    }

    .line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .line-clamp-3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}
